body{
  background-image: url('E:\F\Desktop\Redux\redux-project\close-up-detail-cozy-clothing-texture.jpg');
  background-size: cover;
  min-height: 100vh;

}

.container{
  background: linear-gradient(to bottom, #d4dca9, #ebf2ea) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.containerTwo{
  background: linear-gradient(to top, #d4dca9, #ebf2ea) ;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.products {
  display: flex;
  flex-wrap: wrap;
  flex:1
}

.product {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 20%;
}

h1, h2, h3 {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Quattrocento", serif;
  }

  .priceContainer {
    font-weight: bold;
    background: #ebf2ea;
    padding: 10px;
  }

  .text {
    background:#bf9d7a
  }

  .allGoods {
    width: 150px;
    height: 200px;
    border: 3px solid #80add7;
  }

  .btn {
    background: #0abda0;
    font-family: "Quattrocento", serif;
    font-size: 18px;
    border: none;
    margin: 10px;
    padding: 10px;
  }

  .icon {
    width: 50px
  }

  .iconTwo {
    width: 20px;
  }

  .imgCart {
    display: flex; 
    justify-content: center;
  }

  .Selected  {
    background: #0abda0;
  }

  .categoryButton {
    margin: 5px
  }

  .categoryButton:hover {
    background: #ebf2ea;
  }

  .total {
    text-align: center;
    border: solid 2px #0abda0;
    margin-top:8px;
    padding: 2px;
  }